.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 100px;
}

.headerLogoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogo {
  height: 31px;
}
.headerSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;

  input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 100%;
    padding: 2px 20px;
    font-size: 18px;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 26px;
  }
}
