.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 100px;
}

.headerLogoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogo {
  height: 32px;
}
.headerSearch {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;

  form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.headerSearchInput {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 100%;
  padding: 2px 20px;
  font-size: 18px;
}

.headerSearchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 26px;
  cursor: pointer;
}
