.videoList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;

  article {
    a{
      text-decoration: none;
    }
    width: calc((100% - 40px) / 5);
    height: auto;
    overflow: hidden;
    .thumbnail{

      img {
        width: 100%;             /* 부모 요소에 맞게 너비 설정 */
        aspect-ratio: 16 / 9;    /* 비율 고정 */
        object-fit: cover;
        object-position: center;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .title{
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: #000;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* 두 줄로 제한 */
      -webkit-box-orient: vertical;
      padding: 0 0 0 0;
      margin: 6px 0 0 0;
    }
    .views{
      display: block;
      font-size: 12px;
      color: #606060;
      margin-top: 4px;
    }
    .date{
      display: block;
      font-size: 12px;
      color: #606060;
      margin-top: 4px;
    }
  }
}
